/**{
    font-family: Tahoma;
}

.buttons {
    display:flex;
    justify-content: space-around;
    border: 5px solid black;
    border-radius: 10px;
}
.buttons {
    cursor: pointer;
    border:5px solid gray;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    flex: 200px 1 1;
    background-position: center center;
}
.buttons:hover {
    border:5px solid green;
}*/
